{% extends 'base.html' %}

{% block content %}
    <style>
        h5{
            color: #7c795d;
            font-family: 'Trocchi', serif;
            font-size: 45px;
            font-weight: normal;
        }
    </style>

    <div class="card mx-auto" style="margin-top: 200px; width: 80%;">
        <div class="card-body">
        <h5 class="card-title" style="text-align: center;">Welcome</h5>
        <h6 class="card-subtitle mb-2 text-muted" style="text-align: center;"></h6>
        <p class="card-text" style="text-align: center;"> Welcome to FitFoodie, where dieting comes to you! Track and be tracked
                                                            nonstop to gain the ultimate waistline. Who said dieting isn't fun!?</p>
        </div>
    </div>
{% endblock%}